<a href="https://colab.research.google.com/github/JOJUNHYUNG0818/ai/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
a=pd.Series([1,2,3,4])
print(a)
b=pd.Series([1,2,3],index=['a','b','c'])
print(b)
data = [91,2.5,'문자']
pd_s1=pd.Series(data)
print(pd_s1)
print(pd_s1.dtype)
print(pd_s1.index)

print(pd_s1[2])   #2번행
print(pd_s1[1,2]) #1번,2번행

0    1
1    2
2    3
3    4
dtype: int64
a    1
b    2
c    3
dtype: int64
0     91
1    2.5
2     문자
dtype: object
object
RangeIndex(start=0, stop=3, step=1)
문자

In [ ]:
import numpy as np
np.random.seed(0)
a2=pd.Series(np.random.randint(10000,20000,size=(10,)))
print(a2)

0    12732
1    19845
2    13264
3    14859
4    19225
5    17891
6    14373
7    15874
8    16744
9    13468
dtype: int64

In [ ]:
np.random.seed(0)
a2=pd.Series(np.random.randint(100,200,size=(10,)))
print(a2[a2>150])

2    164
3    167
4    167
6    183
9    187
dtype: int64

In [ ]:
a4 = pd.Series(['마게팅','경영','개발','기획','인사'], index=['a','b','c','d','e'])
#print(a4)
print(a4[1])
print(a4['a'])
print(a4.values)
print(a4.index)
print(a4[['c','a']])

경영
마게팅
['마게팅' '경영' '개발' '기획' '인사']
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
c     개발
a    마게팅
dtype: object

In [ ]:
# 결측값 NaN (Not a Number)
a5=pd.Series(['선화','강호',np.nan,'소정','우영'])
a5
# 결측값 찾기 isnull() , isna()
a5.isnull()
a5[a5.isnull()]
a5[a5.notnull()]

0    선화
1    강호
3    소정
4    우영
dtype: object

In [ ]:
# 슬라이싱
a6=pd.Series(np.arange(100,150,10))
a6[1:3]
a6.index=['a','b','c','d','e']
a6

a    100
b    110
c    120
d    130
e    140
dtype: int64

In [ ]:
# 시리즈 문제
a1=pd.Series(np.arange(3,12,2),dtype=np.float32)
#a1
a2=pd.Series(['가','나','다','라','마'],dtype=object)
#a2
a3=pd.Series([10,20,30,40,50],index=['가','나','다','라','마'],dtype=np.int64)
#a3
#print(a3[['나','라']])

np.random.seed(20)
sample2 = pd.Series(np.random.randint(100, 200, size=(15,)))
#sample2[sample2<160]
sample2[ (sample2>=130) & (sample2<=170)]
a5=pd.Series(['apple',np.nan,'banana','kiwi','gobong'],index=['가','나','다','라','마'])
a5
sample = pd.Series(['IT서비스', np.nan, '반도체', np.nan, '바이오', '자율주행'])
sample
sample[sample.isnull()]

sample[sample.notnull()]

np.random.seed(0)
sample = pd.Series(np.random.randint(100, 200, size=(10,)))
sample[2:7]
np.random.seed(0)
sample2 = pd.Series(np.random.randint(100, 200, size=(10,)), index=list('가나다라마바사아자차'))
sample2
sample2['바':'차']
sample2['가':'다']
sample2['나':'바']

나    147
다    164
라    167
마    167
바    109
dtype: int64